Interfaces/workspace_javascript/js_Backend_Basico/.env
Interfaces/workspace_javascript/js_Backend_Basico/node_modules/
Interfaces/node_modules/
Interfaces/workspace_javascript/portfolio/node_modules/
